<%- model_class = User -%>
<div class="page-header">
  <h1>Ranking</h1>
</div>

<div class="row">
  <div class="span12">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:rank) %></th>
          <th><%= model_class.human_attribute_name(:user) %></th>
          <th><%= model_class.human_attribute_name(:wins) %></th>
        </tr>
      </thead>
      <tbody>
        <% @ordered.each_with_index do |user, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= user.email %></td>
            <td><%= user.wins %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
