<%- model_class = Game -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:user1) %>:</strong></dt>
  <dd><%= @game.user1.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user2) %>:</strong></dt>
  <dd><%= @game.user2.email if @game.user2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @game.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:current_state) %>:</strong></dt>
  <dd><%= @game.current_state %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mistakes) %>:</strong></dt>
  <dd><%= @game.mistakes %></dd>
  <img src= <%="/Hangman#{@game.mistakes}.png"%> height="112" width="72" />
</dl>



<%= link_to t('.back', :default => t("helpers.links.back")),
              games_path, :class => 'btn btn-default'  %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              game_path(@game),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

<button type="button" class="btn btn-primary" id="target">New move</button>



<script>

$( "#target" ).click(function() {

	$("#myModal").modal({                    // wire up the actual modal functionality and show the dialog
		  "backdrop"  : "static",
		  "keyboard"  : true,
		  "show"      : true                     // ensure the modal is shown immediately
		});

});

function test() {
	var getchar = document.getElementById("getch").value;
	$("#myModal").modal('hide');
	var url = "http://" + window.location.host + "/" + window.location.pathname;

	//alert(url + "/make_move#"+getchar);
	document.location = url + "/make_move?char="+getchar;
}
</script>

<!-- set up the modal to start hidden and fade in and out -->
<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- dialog body -->
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        Enter a letter
      </div>
      <!-- dialog buttons -->
      <div class="modal-footer">
	  <input type="text" maxlength="1" class="form-control" placeholder="Charset" id="getch"> <br />
	  <button type="button" class="btn btn-primary" onclick="test();">OK</button>
	  </div>
    </div>
  </div>
</div>
