<%- model_class = Game -%>
<div class="page-header">
  <h1>Lobby</h1>
</div>

<div class="page-header">
  <h1>Created Games</h1>
</div>
<div class="row">
  <div class="span12">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:user1) %></th>
          <th><%= model_class.human_attribute_name(:user2) %></th>
          <th><%= model_class.human_attribute_name(:word) %></th>
          <th><%= model_class.human_attribute_name(:status)%></th>
          <th><%= model_class.human_attribute_name(:moves_made)%></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @created.each do |game| %>
          <tr>
            <td><%= game.user1.email %></td>
            <td><%= game.user2.email if game.user2 %></td>
            <td><%= game.word.title %></td>
            <td><%= game.status %></td>
            <td><%= game.moves.count %></td>
            <td>
              <%= link_to "", game_url(game), :metdod => :delete, :class => 'btn btn-danger icon-remove' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="page-header">
  <h1>Playing Games</h1>
</div>
<div class="row">
  <div class="span12">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:user1) %></th>
          <th><%= model_class.human_attribute_name(:user2) %></th>
          <th><%= model_class.human_attribute_name(:word) %></th>
          <th><%= model_class.human_attribute_name(:status)%></th>
          <th><%= model_class.human_attribute_name(:moves_made)%></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @played.each do |game| %>
          <tr>
            <td><%= game.user1.email %></td>
            <td><%= game.user2.email if game.user2 %></td>
            <td><%= "***" %></td>
            <td><%= game.status %></td>
            <td><%= game.moves.count %></td>
            <td>
              <%= link_to "", game_url(game), :method => :delete, :class => 'btn btn-danger icon-remove' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="page-header">
  <h1>Open Games</h1>
</div>
<div class="row">
  <div class="span12">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:user1) %></th>
          <th><%= model_class.human_attribute_name(:user2) %></th>
          <th><%= model_class.human_attribute_name(:word) %></th>
          <th><%= model_class.human_attribute_name(:status)%></th>
          <th><%= model_class.human_attribute_name(:moves_made)%></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @free.each do |game| %>
          <tr>
            <td><%= game.user1.email %></td>
            <td><%= game.user2.email if game.user2 %></td>
            <td><%= "***" %></td>
            <td><%= game.status %></td>
            <td><%= game.moves.count %></td>
            <td>
              <%= link_to "", game_url(game), :method => :delete, :class => 'btn btn-danger icon-remove' %>
              <%= link_to "Join Game", game_join_url(game), :class => 'btn-mini' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to "Create Game", new_game_url %>
