<%= form_for(@potrebitel) do |f| %>
  <% if @potrebitel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@potrebitel.errors.count, "error") %> prohibited this potrebitel from being saved:</h2>

      <ul>
      <% @potrebitel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :login %><br>
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :win %><br>
    <%= f.number_field :win %>
  </div>
  <div class="field">
    <%= f.label :lost %><br>
    <%= f.number_field :lost %>
  </div>
  <div class="field">
    <%= f.label :success_cat_id %><br>
    <%= f.number_field :success_cat_id %>
  </div>
  <div class="field">
    <%= f.label :failure_cat_id %><br>
    <%= f.number_field :failure_cat_id %>
  </div>
  <div class="field">
    <%= f.label :time_online %><br>
    <%= f.text_field :time_online %>
  </div>
  <div class="field">
    <%= f.label :reiting_pos %><br>
    <%= f.number_field :reiting_pos %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
