<p id="notice"><%= notice %></p>

<p>
  <strong>Login:</strong>
  <%= @potrebitel.login %>
</p>

<p>
  <strong>Password:</strong>
  <%= @potrebitel.password %>
</p>

<p>
  <strong>Email:</strong>
  <%= @potrebitel.email %>
</p>

<p>
  <strong>Win:</strong>
  <%= @potrebitel.win %>
</p>

<p>
  <strong>Lost:</strong>
  <%= @potrebitel.lost %>
</p>

<p>
  <strong>Success cat:</strong>
  <%= @potrebitel.success_cat_id %>
</p>

<p>
  <strong>Failure cat:</strong>
  <%= @potrebitel.failure_cat_id %>
</p>

<p>
  <strong>Time online:</strong>
  <%= @potrebitel.time_online %>
</p>

<p>
  <strong>Reiting pos:</strong>
  <%= @potrebitel.reiting_pos %>
</p>

<%= link_to 'Edit', edit_potrebitel_path(@potrebitel) %> |
<%= link_to 'Back', potrebitels_path %>
